<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Site under work!</title>
  </head>
  <body>
    <h1>Site is under maintenance.</h1>
    <p>Thank you for your patience.</p>
  </body>
</html>